<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin="" />
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <div class="card">
    <div class="card-body">
      <h5 id="user">Welcome <% if(user.isAuthenticated) { %>
          <%= user.name %>
            <% } %>
      </h5>
      <p id="status"></p>
      <a id="map-link" target="_blank"></a>
      <button id="find-me" class="btn btn-primary">Show my location</button>
      <% if(user.isAuthenticated) { %>
        <form action="./logout">
          </br><input type="submit" value="Log out" class="btn btn-primary" />
        </form>
        <% } else {%>
          <form id="login" action="./login">
            </br><input type="submit" value="Log in" class="btn btn-primary" />
          </form>
          <% } %>
    </div>
  </div>
  <div class="map" id="map"></div>

  <script>
    const mymap = L.map('map').setView([45.814632, 15.978783], 9);
    const atribution = '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors';
    const tileUrl = 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
    const tiles = L.tileLayer(tileUrl, { atribution });
    tiles.addTo(mymap);
    var popup = L.popup();
    showPrevious();

    async function showPrevious() {
      const response = await fetch('/api', { method: 'GET' }).then(response => response.json());
      //console.log(response)
      let num = 0;
      if (response.length > 5) {
        num = response.length - 5;
      }
      for (let i = num; i < response.length; i++) {
        var marker = L.marker([response[i].latitude, response[i].longitude]).addTo(mymap);
        marker.bindPopup(('User: ' + response[i].username + '\nTime: ' + response[i].ts).toString()).openPopup();
      }
    }

    function geoFindMe() {

      const status = document.querySelector('#status');
      const mapLink = document.querySelector('#map-link');
      const user = document.querySelector('#user')

      mapLink.textContent = '';

      function success(position) {
        const latitude = position.coords.latitude;
        const longitude = position.coords.longitude;
        let ts = new Date();
        var username = user.textContent.replace('Welcome', '').trim()
        var marker = L.marker([latitude, longitude]).addTo(mymap);
        marker.bindPopup(('User: ' + username + '\nTime: ' + ts).toString()).openPopup();
        status.textContent = 'Location: ' + latitude + ', ' + longitude + '\nTime: ' + ts;

        const data = { username, ts, latitude, longitude }
        const options = {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify(data)
        }
        fetch('/api', options);
      }

      function error() {
        status.textContent = 'Unable to retrieve your location';
      }

      if (!navigator.geolocation) {
        status.textContent = 'Geolocation is not supported by your browser';
      } else {
        navigator.geolocation.getCurrentPosition(success, error);
      }
    }

    document.querySelector('#find-me').addEventListener('click', geoFindMe);
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
    integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
</body>

</html>